<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="current_session_context_class">thread</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL57Dialect</property>
        <property name="hibernate.jdbc.batch_size">10</property>
        <property name="hibernate.order_updates">true</property>
        <property name="hibernate.order_inserts">true</property>

        <mapping resource="Allitems.hbm.xml"/>
        <mapping resource="Orderitems.hbm.xml"/>
        <mapping resource="Orders.hbm.xml"/>
        <mapping resource="User.hbm.xml"/>
        <mapping resource="Authority.hbm.xml"/>
        <mapping resource="Historyitems.hbm.xml"/>
        <mapping resource="Historyorder.hbm.xml"/>

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>